<!DOCTYPE html>
<html>
<head>
  <title>ANIMAIL</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- header scripts -->
</head>
<body>

<header >

  <div class="sideMenu">
    <img src=" <%= profile.profile_image_url  %> " width="100px; "/>
    <h1 class="userName"><%= profile.name %></h1>
    <h3 class="userId">@<%= profile.screen_name %></h3>

    <div class="linkBox"><a href="/"></a><h1>HOME</h1></div>
    <div class="linkBox"><a href="/favorite/view"></a><h1>FAVORITE</h1></div>
    <div class="linkBox"><a href="/ranking/view"></a><h1>RANKING</h1></div>
    <div class="linkBox"><a href="/twitter/logout"></a><h1>LOGOUT</h1></div>
  </div>

</header>

<%- body %>

<!--<footer>Copyright hoge</footer>-->
<!-- footer scripts -->
</body>
</html>
