<!DOCTYPE html>
<html>
<head>
  <title>ホーム</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- header scripts -->
</head>
<body>

<header >

  <!--<div style="float: left">-->
  <div style="float:left; z-index: 1; width: 160px">
    <img src=" <%= profile.profile_image_url  %> " width="100px; "/>
    <h1><%= profile.name %></h1>
    <h3>@<%= profile.screen_name %></h3>
    <p><a href="/twitter/logout">logout</a></p>
    <p><a href="/">ホーム</a></p>

    <p><a href="/favorite/view">お気に入り一覧</a></p>
  </div>

</header>

<%- body %>

<!--<footer>Copyright hoge</footer>-->
<!-- footer scripts -->
</body>
</html>
