<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form action="/auth/process" method="post">
  <!--<div class="login">-->
    <!--login: <input type="text" name="username" placeholder="Input Login ID" value="" /> <br/>-->
    <!--password: <input type="password" name="password" placeholder="Input Login Password" value="" /><br/>-->
    <!--<button type="submit">ログイン</button>-->
  <!--</div>-->
  <p><a href="/auth/twitter">Sign in with twitter</a></p>
</body>
</html>
