body {
  height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#side{
  width:18%;
  height:1000px;
  min-height:100%;
  _height:100%;
  display:block;
  position:absolute;
  top: 0px;
  left: 0px;
  background-color: #0084B4;
  z-index: -1;
}

#twitter {
  float: left;
  width: 300px;
  height: auto;
}
